.navbar {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
}

h1 {
  margin-top: 10px;
  text-align: center;
}

h4 {
  text-align: center;
  color: gray;
}

.alert {
  text-align: center;
}

.nav-item {
  text-align: left;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.notbold {
  font-weight: normal;
}
